h1 {
	font-family: 'Alegreya' ;
}
body{
	background-color:#E76F51;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn-group{
	display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px 10px;
}
.btn-group input {
  background-color: #F4A261; 
  border: 2px solid #E9C46A; 
  color: #264653; 
  padding: 10px 24px; 
  cursor: pointer;
  //width: 50%; 
  //display: flex; 
  //align-items: center;
  //justify-content: center;
  //margin-left: 25%;
  font-size: 22px;
}

/* Add a background color on hover */
.btn-group input:hover {
  background-color: #2a9d8f;
}
